In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Get project root
#base_dir = Path(__file__).resolve().parent.parent

base_dir = Path.cwd().parent
print(base_dir)

c:\Users\UKHSM003\Level7AI\Module 14 - Data Pipeline\Assignment

In [3]:
df_covid=pd.read_csv('../data/raw/worldwide-aggregate.csv', parse_dates=['Date'])

In [4]:
df_covid

          Date  Confirmed  Recovered   Deaths  Increase rate
0   2020-01-22        557         30       17            NaN
1   2020-01-23        657         32       18      17.953321
2   2020-01-24        944         39       26      43.683409
3   2020-01-25       1437         42       42      52.224576
4   2020-01-26       2120         56       56      47.529576
..         ...        ...        ...      ...            ...
811 2022-04-12  500880363          0  6185040       0.207437
812 2022-04-13  501920234          0  6189593       0.207609
813 2022-04-14  502892186          0  6193401       0.193647
814 2022-04-15  503606396          0  6195647       0.142021
815 2022-04-16  504155459          0  6197159       0.109026

[816 rows x 5 columns]

In [5]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           816 non-null    datetime64[ns]
 1   Confirmed      816 non-null    int64
 2   Recovered      816 non-null    int64
 3   Deaths         816 non-null    int64
 4   Increase rate  815 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 32.0 KB

In [6]:
#df_covid.set_index('Date', inplace=True)

In [7]:
df_covid.dropna(subset = ['Increase rate'], how='all', inplace=True)

In [8]:
#df_covid['Increase rate'] = df_covid['Increase rate'].fillna(0)

In [9]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 815 entries, 1 to 815
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           815 non-null    datetime64[ns]
 1   Confirmed      815 non-null    int64
 2   Recovered      815 non-null    int64
 3   Deaths         815 non-null    int64
 4   Increase rate  815 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 38.2 KB

In [10]:
df_covid["year"]=df_covid['Date'].dt.year
df_covid["month"]=df_covid['Date'].dt.strftime('%b') #df_covid['Date'].dt.month

In [11]:
df_covid

          Date  Confirmed  Recovered   Deaths  Increase rate  year month
1   2020-01-23        657         32       18      17.953321  2020   Jan
2   2020-01-24        944         39       26      43.683409  2020   Jan
3   2020-01-25       1437         42       42      52.224576  2020   Jan
4   2020-01-26       2120         56       56      47.529576  2020   Jan
5   2020-01-27       2929         65       82      38.160377  2020   Jan
..         ...        ...        ...      ...            ...   ...   ...
811 2022-04-12  500880363          0  6185040       0.207437  2022   Apr
812 2022-04-13  501920234          0  6189593       0.207609  2022   Apr
813 2022-04-14  502892186          0  6193401       0.193647  2022   Apr
814 2022-04-15  503606396          0  6195647       0.142021  2022   Apr
815 2022-04-16  504155459          0  6197159       0.109026  2022   Apr

[815 rows x 7 columns]

In [12]:
df_covid.sort_values(by = 'Date', ascending = True)

          Date  Confirmed  Recovered   Deaths  Increase rate  year month
1   2020-01-23        657         32       18      17.953321  2020   Jan
2   2020-01-24        944         39       26      43.683409  2020   Jan
3   2020-01-25       1437         42       42      52.224576  2020   Jan
4   2020-01-26       2120         56       56      47.529576  2020   Jan
5   2020-01-27       2929         65       82      38.160377  2020   Jan
..         ...        ...        ...      ...            ...   ...   ...
811 2022-04-12  500880363          0  6185040       0.207437  2022   Apr
812 2022-04-13  501920234          0  6189593       0.207609  2022   Apr
813 2022-04-14  502892186          0  6193401       0.193647  2022   Apr
814 2022-04-15  503606396          0  6195647       0.142021  2022   Apr
815 2022-04-16  504155459          0  6197159       0.109026  2022   Apr

[815 rows x 7 columns]

In [13]:
#df_covid.to_csv('../data/processed/df_covid_processed.csv')

In [14]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [15]:
y = df_covid[['Deaths']]
X = df_covid.drop(columns = ['Deaths',"Date"], axis = 1)

In [16]:
# Initial split to create training and temp sets (temp will later be split into test and validation)
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.3, random_state=42)  # 70% train, 30% temp (test/val)

# Split the temp set into validation and test sets (50-50 split of the 30%, so 15% each)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [17]:
numerical = ['Confirmed', 'Recovered','Increase rate']
categorical = ['month', 'year']

In [18]:
#split train data
X_train_numerical = X_train[numerical]
X_train_categorical = X_train[categorical]

#split Validation data
X_val_numerical = X_val[numerical]
X_val_categorical = X_val[categorical]

#split test data
X_test_numerical = X_test[numerical]
X_test_categorical = X_test[categorical]

In [19]:
MinMaxtransformer = MinMaxScaler().fit(X_train_numerical)

#Train
X_train_normalized = MinMaxtransformer.transform(X_train_numerical)
X_train_minmax = pd.DataFrame(X_train_normalized,columns=X_train_numerical.columns)
#X_train_minmax.head()

#Validation
X_val_normalized = MinMaxtransformer.transform(X_val_numerical)
X_val_minmax = pd.DataFrame(X_val_normalized,columns=X_val_numerical.columns)
#X_val_minmax.head()

#Test
X_test_normalized = MinMaxtransformer.transform(X_test_numerical)
X_test_minmax = pd.DataFrame(X_test_normalized,columns=X_test_numerical.columns)

In [20]:
X_train_categorical_ohe = X_train_categorical[['month', 'year']]
X_val_categorical_ohe = X_val_categorical[['month', 'year']]
X_test_categorical_ohe = X_test_categorical[['month', 'year']]

In [21]:
#Fit ONLY the train set. 
encoder = OneHotEncoder(handle_unknown='ignore', drop='first').fit(X_train_categorical_ohe)


#Train
encoded_for_p_train = encoder.transform(X_train_categorical_ohe).toarray()
cols = encoder.get_feature_names_out(input_features=X_train_categorical_ohe.columns)
X_train_ohe = pd.DataFrame(encoded_for_p_train, columns=cols)
#X_train_ohe.head()


#Validation
encoded_for_p_val = encoder.transform(X_val_categorical_ohe).toarray()
cols = encoder.get_feature_names_out(input_features=X_val_categorical_ohe.columns)
X_val_ohe = pd.DataFrame(encoded_for_p_val, columns=cols)
#X_val_ohe.head()


#Test
encoded_for_p_test = encoder.transform(X_test_categorical_ohe).toarray()
cols = encoder.get_feature_names_out(input_features=X_test_categorical_ohe.columns)
X_test_ohe = pd.DataFrame(encoded_for_p_test, columns=cols)
#X_test_ohe.head()

In [22]:
#Reset Indices in Train
X_train_ohe = X_train_ohe.reset_index(drop = True)


#Reset Indices in Validation
X_val_ohe = X_val_ohe.reset_index(drop = True)


#Reset Indices in Test
X_test_ohe = X_test_ohe.reset_index(drop = True)




X_train_cat_treated = X_train_ohe
X_val_cat_treated = X_val_ohe
X_test_cat_treated = X_test_ohe

In [23]:
###Reset Indices###
X_train_minmax = X_train_minmax.reset_index(drop = True)
X_val_minmax = X_val_minmax.reset_index(drop = True)
X_test_minmax = X_test_minmax.reset_index(drop = True)



#####Concat#####

#Train
X_train_scaled_minmax = pd.concat([X_train_minmax,X_train_cat_treated], axis = 1)

#Validation
X_val_scaled_minmax = pd.concat([X_val_minmax,X_val_cat_treated], axis = 1)

#Test
X_test_scaled_minmax = pd.concat([X_test_minmax,X_test_cat_treated], axis = 1)

In [24]:
y_train = y_train.reset_index(drop = True)
y_val = y_val.reset_index(drop = True)
y_test = y_test.reset_index(drop = True)

In [25]:
#Define the linear regression model
LinReg = LinearRegression()
LinReg

#fit the training set onto the Linear Regression Model
LinReg.fit(X_train_scaled_minmax,y_train)

#Predict our y results using our X_val_scaled data, 
#which was based on the rules in our training set.
y_val_pred = LinReg.predict(X_val_scaled_minmax)

y_val_pred

array([[ 8.68788218e+05],
       [ 4.56418725e+06],
       [ 4.59904565e+06],
       [ 1.03561331e+06],
       [ 5.40274536e+06],
       [ 4.79388269e+06],
       [ 6.25292003e+06],
       [ 5.36743897e+06],
       [ 5.83642011e+06],
       [ 8.69908317e+05],
       [ 3.74214510e+06],
       [ 5.03759173e+06],
       [ 8.71996875e+05],
       [ 4.81666204e+06],
       [ 5.13962976e+06],
       [ 8.56340104e+05],
       [ 5.32917896e+06],
       [ 3.41161691e+05],
       [ 1.43121886e+06],
       [ 3.44790717e+06],
       [-3.00999867e+05],
       [ 6.07314424e+06],
       [ 1.46891222e+06],
       [ 5.43884978e+06],
       [ 8.68192643e+05],
       [ 1.02951918e+06],
       [ 7.36724345e+05],
       [-1.01595884e+05],
       [ 6.23599901e+06],
       [ 6.05867792e+06],
       [ 4.61419949e+06],
       [ 8.74408959e+05],
       [ 3.00715220e+06],
       [ 1.67278544e+06],
       [ 3.02570418e+06],
       [ 1.24164322e+06],
       [ 2.40530503e+06],
       [ 2.67554213e+06],
       [ 3.74357215e+06],
       [ 5.60585515e+05],
       [ 4.60521616e+06],
       [ 2.66705401e+06],
       [ 1.02155512e+06],
       [ 1.22701381e+06],
       [ 5.06967389e+06],
       [ 1.45473538e+06],
       [ 6.22704870e+06],
       [-1.63821320e+04],
       [ 5.62065461e+05],
       [ 4.35719292e+06],
       [ 5.05931813e+06],
       [ 8.70527316e+05],
       [ 5.38683590e+06],
       [ 3.47742230e+06],
       [ 1.73626978e+06],
       [ 3.71760961e+06],
       [ 3.91098432e+06],
       [ 2.38593731e+06],
       [ 4.22977809e+03],
       [-4.05429558e+03],
       [ 8.55011111e+05],
       [ 4.82126054e+06],
       [ 1.73679263e+06],
       [ 6.51909950e+06],
       [ 3.95769273e+06],
       [ 2.69350922e+06],
       [ 5.06346965e+06],
       [ 3.34320592e+05],
       [ 1.43748858e+06],
       [ 8.62451039e+05],
       [ 2.69214148e+06],
       [-1.08857783e+04],
       [ 5.01713044e+06],
       [ 3.91180197e+06],
       [ 3.08100461e+06],
       [ 2.80399674e+06],
       [ 2.81678796e+06],
       [ 5.03384983e+06],
       [ 5.02712374e+06],
       [ 1.44894730e+06],
       [ 4.37567464e+06],
       [ 4.60431513e+06],
       [ 3.44682854e+06],
       [ 1.21046280e+06],
       [ 5.74268884e+05],
       [ 1.72638035e+06],
       [ 3.03013391e+06],
       [ 1.25461490e+06],
       [-1.31953298e+05],
       [-1.43529892e+04],
       [ 7.52331486e+05],
       [ 5.91002622e+06],
       [ 6.06697429e+06],
       [ 4.58797480e+06],
       [ 4.39298235e+06],
       [-2.99955432e+05],
       [ 2.69898226e+06],
       [ 5.94351592e+06],
       [ 5.66563479e+05],
       [ 1.44635521e+06],
       [ 5.38472864e+06],
       [ 5.00424288e+06],
       [ 3.01630697e+06],
       [ 5.84397742e+06],
       [ 3.94063730e+06],
       [ 8.68524300e+05],
       [-1.75411050e+03],
       [ 8.76377129e+05],
       [ 1.04273026e+06],
       [-2.96929738e+05],
       [ 2.39849654e+06],
       [ 5.64116401e+05],
       [ 3.48643592e+06],
       [ 5.78844340e+06],
       [ 5.66720396e+05],
       [ 1.46871220e+06],
       [ 3.93626419e+06],
       [-2.29460918e+04],
       [ 1.21874107e+06],
       [ 5.75757499e+06],
       [ 4.81914063e+06],
       [ 5.95706578e+06]])

In [26]:
y_val_pred = abs(y_val_pred)

# Convert predictions to a Series with the same index as X_val
y_val_pred_series = pd.Series(y_val_pred.flatten(), index=X_val.index, name='Predicted_Deaths')

In [27]:

# Add predictions to df_covid at the correct rows
df_covid.loc[y_val_pred_series.index, 'Predicted_Deaths'] = y_val_pred_series

In [28]:
df_covid[['Deaths', 'Predicted_Deaths']].head(10)

    Deaths  Predicted_Deaths
1       18               NaN
2       26               NaN
3       42               NaN
4       56               NaN
5       82               NaN
6      131               NaN
7      133               NaN
8      171               NaN
9      213               NaN
10     259               NaN

In [29]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 815 entries, 1 to 815
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              815 non-null    datetime64[ns]
 1   Confirmed         815 non-null    int64
 2   Recovered         815 non-null    int64
 3   Deaths            815 non-null    int64
 4   Increase rate     815 non-null    float64
 5   year              815 non-null    int32
 6   month             815 non-null    object
 7   Predicted_Deaths  122 non-null    float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(3), object(1)
memory usage: 86.4+ KB

In [30]:
df_covid.dropna(subset = ['Predicted_Deaths'], how='all', inplace=True)

In [35]:
df_covid.sort_values(by='Date', ascending=True).reset_index(drop=True)

,Date,Confirmed,Recovered,Deaths,Increase rate,year,month,Predicted_Deaths
0,2020-02-20,76216,18181,2248,0.741524,2020,Feb,3.009999e+05
1,2020-02-21,76846,18894,2252,0.826598,2020,Feb,2.999554e+05
2,2020-02-25,80412,27907,2710,1.073431,2020,Feb,2.969297e+05
3,2020-03-28,670495,139421,32374,11.498481,2020,Mar,1.015959e+05
4,2020-03-30,791975,164213,39895,8.978487,2020,Mar,1.319533e+05
...,...,...,...,...,...,...,...,...
117,2022-03-05,445279837,0,5992605,0.331147,2022,Mar,6.073144e+06
118,2022-03-24,477617482,0,6110404,0.368040,2022,Mar,6.227049e+06
119,2022-03-25,479458583,0,6119371,0.385476,2022,Mar,6.235999e+06
120,2022-03-28,483219734,0,6128734,0.309861,2022,Mar,6.252920e+06
121,2022-04-13,501920234,0,6189593,0.207609,2022,Apr,6.519100e+06

In [32]:
#R2 Score - First we compare train against val

train_r2 = LinReg.score(X_train_scaled_minmax, y_train)
val_r2 = LinReg.score(X_val_scaled_minmax, y_val)
print (f'Train R2: {train_r2} \nValidation R2: {val_r2}')
#Train will always be higher as we are predicting values of the Train data given

Train R2: 0.9945151104958807
Validation R2: 0.9948972373887878

In [33]:
#MSE - First we do train against val - MSE helps understand the variance 
train_mse = mean_squared_error(LinReg.predict(X_train_scaled_minmax), y_train)
val_mse = mean_squared_error(LinReg.predict(X_val_scaled_minmax), y_val)
print(f'Train MSE: {train_mse} \nValidation MSE: {val_mse}')

Train MSE: 23347264139.269287
Validation MSE: 22246640000.711037

In [34]:
#RMSE - The value of the error +-
rmse = np.sqrt(val_mse)
print(f'Root Mean Squared Error: {rmse}')

Root Mean Squared Error: 149153.07573332518